<app-particle></app-particle>
<app-header></app-header>
<section class="head" data-aos="fade-right"
data-aos-offset="300"
data-aos-easing="ease-in-sine">
  <div class="text">
    <p class="im">Know Who <span class="color">I'M</span> </p>
    <p>Hi Everyone, I am <span>Ashis Kumar Rout</span>  from Kendrapara, India.I have
      Done My <span class="color">Masters In Computer science  and Application </span> in OUAT Bhubaneswar.
       My interests include coding, gaming & Cooking Always looking for new challenges in tech related areas . In search of an  <span class="color"> cum Job where</span>
       I can enhance my skills and gain experience in industry.</p>
  </div>
  <div class="image" data-aos="zoom-out-right">
<img src="/assets/code.svg" alt="" srcset="">
  </div>
</section>
<section class="skill">
  <p class="center">Skill-Set</p>
  <div class="icons">
<div class="icon" data-aos="zoom-in-down">
<img src="../../assets/java.png" alt="" srcset="">
</div>
<div class="icon" data-aos="zoom-in-down">
  <img src="../../assets/github.png" alt="" srcset="">
</div>
<div class="icon" data-aos="zoom-in-down">
  <img src="../../assets/springboot.png" alt="" srcset="">
</div>
<div class="icon" data-aos="zoom-in-down">
  <img src="../../assets/angular.png" alt="" srcset="">
</div>
<div class="icon" data-aos="zoom-in-down">
  <img src="../../assets/css.png" alt="" srcset="">
</div>
<div class="icon" data-aos="zoom-in-down">
  <img src="../../assets/js.png" alt="" srcset="">
</div>
<div class="icon" data-aos="zoom-in-down">
  <img src="../../assets/html.png" alt="" srcset="">
</div>
<div class="icon" data-aos="zoom-in-down">
  <img src="../../assets/sql.png" alt="" srcset="">
</div>
  </div>
<p class="center">Tools I use</p>
<div class="icons">
  <div class="icon" data-aos="zoom-in-down">
    <img src="../../assets/vs code.png" alt="" srcset="">
  </div>
  <div class="icon" data-aos="zoom-in-down">
    <img src="../../assets/eclipse.png" alt="" srcset="">
  </div>
  <div class="icon" data-aos="zoom-in-down">
    <img src="../../assets/linux.png" alt="" srcset="">
  </div>
  <div class="icon" data-aos="zoom-in-down">
    <img src="../../assets/postman.png" alt="" srcset="">
  </div>
    </div>
</section>
<app-footer></app-footer>
