#particles-js {
  position : fixed;
  width:100%;
  height:100%;
  z-index:-1;
}
*{

  background: linear-gradient(252.81deg, #A9D8FF -1.41%, rgba(255, 255, 255, 0.31) 46.87%, #D9D9F8 85.49%), linear-gradient(0deg, rgba(133, 208, 255, 0.05), rgba(133, 208, 255, 0.05)), #FFFFFF;
  }
