<app-particle></app-particle>
<app-header></app-header>
<section class="head">
<div class="project" data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">


  <span class="image">
    <img src="/assets/ecommerce.gif" alt="">
  </span>

  <h2>E-Commerce </h2>
  <p>The eCommerce project is a web-based application that allows users to buy and sell products online. It was built using Java and Hibernate for the backend and HTML, CSS, and JavaScript for the frontend.

    The project includes features such as user registration and login, product search and browsing, shopping cart management, payment processing, and order tracking. The backend handles data storage and retrieval using Hibernate.
</p>


<span class="button">
  <button (click)="ecom()">View</button>
</span>

</div>
<div class="project" data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">


  <span class="image">
    <img src="../../assets/waether.png" alt="">
  </span>

  <h2>Weather Application</h2>
  <p>The Weather Application is a web-based application that provides real-time weather information for a user-specified location. It was built using Node.js as the backend and HTML, CSS, and JavaScript for the frontend
    The frontend is designed using HTML and CSS to provide an intuitive and user-friendly interface for browsing weather information. JavaScript is used to enhance the user experience with features like dynamic weather updates.

</p>


<span class="button">
  <button (click)="weather()">View</button>
</span>

</div>


<div class="project" data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">


  <span class="image">
    <img src="../../assets/calcu.png" alt="">
  </span>

  <h2>Calculator</h2>
  <p>The Calculator Application is a desktop-based application that allows users to perform various mathematical operations such as addition, subtraction, multiplication, and division. It was built using Java programming language.

    The project includes features such as a graphical user interface (GUI), input fields for numerical values, and buttons for mathematical operations.

</p>


<span class="button">
  <button (click)="clac()">View</button>
</span>

</div>


</section>
<app-footer></app-footer>
