

<app-particle></app-particle>
<app-header></app-header>
<section class="header" >
<div class="text">

  <span class="content" >
    <p class="hii">Hii There!</p>
    <p class="name">I'm <span class="realname">Ashis Rout</span> </p>
    <ngx-typed-js [strings]="['Developer...', 'Designer...', 'Programmer...']" [loop]="true" [typeSpeed]="150">
       <span class="typing"></span>
    </ngx-typed-js>
  </span>

</div>
<div class="imagebox">
  <div class="image">
    <span class="new">
      <img src="../../assets/myiamg.jpg" alt="">
    </span>

  </div>
</div>
</section>
<section class="para"  data-aos="fade-right"
data-aos-offset="300"
data-aos-easing="ease-in-sine">
<p class="myself">LET ME <span class="blue">INTRODUCE </span> MYSELF</p>
<p class="about">I fell in love with programming and I have at least learnt something, I think… 🤷‍♂️</p>
<p class="about"> I am fluent in classics like <span class="blue"> C, Javascript and Java.</span>  </p>
<p class="about">My field of Interest's are building new  Web Technologies and Products </p>
<p class="about">Whenever possible, I also apply my passion for developing products with <span class="blue">Java and Modern Javascript Library and Frameworks  like Angular </span></p>
</section>
<div class="free"  data-aos="fade-right"
data-aos-offset="300"
data-aos-easing="ease-in-sine">
  <span>
  <p class="myself">FIND <span class="blue">ME ON</span></p>
  <p class="feel">Feel free to <span class="blue">Connect</span> with me</p>
  <span class="icon">
    <i class="bi bi-linkedin"></i>
    <i class="bi bi-github"></i>
    <i class="bi bi-instagram"></i>
    <i class="bi bi-twitter"></i>
  </span>
</span>
</div>
<app-footer></app-footer>


